@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Concert+One|Open+Sans:300,400,700');

body{
  background: url('../assets/lenny_nyc.jpg') center center no-repeat;
  background-size: cover;
  font-family: Open Sans;
}

/* header*/
header.top{
  background-color: blue;
  min-height: 60px;
}

.search-bar{
  background-color: red;
  height: 60px;
}
.square{
  background-color: brown;
  height: 60px;
  width: 70px;
  float:left;
  border:1px solid #fff;
}

button{
  height: 100%;
  background-color: transparent;
  border:none;
  box-shadow: none;

}
input.form-control, input.form-control:hover{
  height: 100%;
  background-color: transparent;
  border:none;
  box-shadow: none;
  padding:0;
}

input.form-control:hover{

}

@keyframes glow {
  0%,100%{ text-shadow:0 0 30px #00FF00; }
  25%{ text-shadow:0 0 20px #009900; }
  50%{ text-shadow:0 0 30px #00ff00; }
  75%{ text-shadow:0 0 20px #009900; }
}

h1.spotiRock{
  animation:glow 2s ease-in-out infinite;
  display:block;
  width:100%;
  text-transform:uppercase;
  position:relative;
  color:#fff;
  font-size: 3.2em;
  font-weight: bolder;
  text-shadow: 0 0 20px green;
  font-family: Concert one;
  margin: 0px;
  top:-5px;
  padding-right: 50px;
}

/* =================== SIDE NAVBAR ===============*/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 70PX; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 60px;
    left: 0;
    background-color: #0f0; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}