@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Concert+One|Open+Sans:300,400,700');

body{
  background-color: #000;
  font-family: Open Sans;
  overflow-y: hidden;
}

body::-webkit-scrollbar {
    width: 0.3em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


/* header*/
header.top{
  background-color: blue;
  height: 60px;
}

.search-bar{
  background-color: red;
  height: 60px;
}
.square{
  background-color: brown;
  height: 60px;
  width: 70px;
  float:left;
  border:1px solid #fff;
}

button{
  height: 100%;
  background-color: transparent;
  border:none;
  box-shadow: none;

}
input.form-control, input.form-control:hover{
  height: 100%;
  background-color: transparent;
  border:none;
  box-shadow: none;
  padding:0;
}

input.form-control:hover{

}

@keyframes glow {
  0%,100%{ text-shadow:0 0 30px #00FF00; }
  25%{ text-shadow:0 0 20px #009900; }
  50%{ text-shadow:0 0 30px #00ff00; }
  75%{ text-shadow:0 0 20px #009900; }
}

h1.spotiRock{
  animation:glow 2s ease-in-out infinite;
  display:block;
  width:100%;
  text-transform:uppercase;
  position:relative;
  color:#fff;
  font-size: 3.2em;
  font-weight: bolder;
  text-shadow: 0 0 20px green;
  font-family: Concert one;
  margin: 0px;
  top:-5px;
  padding-right: 50px;
}

/* =================== SIDE NAVBAR ===============*/
aside{
  height: 100%; /* 100% Full-height */
  width: 70PX; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 60px;
  background-color: yellow; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  display: table-cell;
  float:none;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  left: 0;
  border: 1px solid #000;
  margin-bottom: -60px;
}
.sidenav {
  bottom:60px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* footer */

footer{
  position:absolute;
  z-index: 1000;
  top: auto;
  right: 0;
  bottom:0;
  left:0;
  width:100%;
  background-color: #f00;
  height: 60px;
}


#songsCovers{
  width:100%;
  padding:20px 0 0 70px;
  background-color: #344;
  left: 70px;
  overflow-y: scroll;
  box-sizing: content-box;
}

.imgBox{
  overflow: hidden;
}
.imgThumbnail{
  height: 280px;
}
